<div class="card">
    <div class="title">{{storyItem.title}} </div>

    <div class="point">
        <div>{{storyItem.score}} points by {{storyItem.by}}</div>
        <div class="separator">|</div>
        <!-- <div>id</div> -->
    </div>

    <hr class="divider" />

    <div class="time-comment">
        <div class="flex-start">
            <div class="flex-start">
                <i class="bi bi-clock" style="font-size: 1rem; margin-right: 6px;"></i>
                <div>4 hours ago</div>
            </div>
            <div class="trending-chip">{{storyItem.type}}</div>
        </div>
        <div *ngIf="storyItem.kids" class="comment-chip" (click)="openModal()">
            <i class="bi bi-chat-dots" style="font-size: 1rem; margin-right: 6px;"></i>
            <div *ngIf="storyItem.kids">{{storyItem.kids.length}} comments </div>
            <i class="bi bi-arrow-right" style="font-size: 1rem; margin-left: 6px;"></i>
        </div>

    </div>
</div>

<div class="modal" id={{storyItem.id}}>
    <div class="modal-dialog modal-lg">

        <div class="modal-content modal-contents-container">
            <div class="modal-headers">
                <div class="modal-close" (click)="closeModal()">
                    <i class="bi bi-x-lg"></i>
                </div>
                <div class="news-title">
                    {{storyItem.title}}
                </div>
                <div class="news-detail">
                    <div class="news-detail-content">
                        <div>{{storyItem.score}} points by {{storyItem.by}}</div>
                        <div class="separator">|</div>

                        <div class="flex-start">
                            <i class="bi bi-clock" style="font-size: 1rem; margin-right: 6px;"></i>
                            <div>4 hours ago</div>
                        </div>
                    </div>
                    <div *ngIf="storyItem.kids" class="news-comment">
                        <i class="bi bi-chat-dots" style="font-size: 1rem; margin-right: 6px;"></i>
                        <div *ngIf="storyItem.kids">{{storyItem.kids.length}} comments</div>
                    </div>
                </div>
            </div>

            <div class="divider-container">
                <hr class="divider" />
            </div>

            <div class="modal-body">
                <div *ngIf="isError">
                    <div></div>
                </div>

                <div *ngIf="isLoading;  else commentList">
                    <div *ngFor="let skeleton of itemListSkeleton">
                        <div style="margin-top: 16px;">
                            <div class="list-skeleton">
                                <div class="list-skeleton-item animate-pulse"></div>
                                <div class="list-skeleton-item animate-pulse" style="margin-top: 8px;"></div>
                                <div class="list-skeleton-item animate-pulse"></div>
                                <div class="list-skeleton-item animate-pulse" style="width: 60%;"></div>
                            </div>
                            <div class="list-skeleton-item animate-pulse" style="width: 20%; margin-left: 16px;"></div>
                        </div>
                    </div>
                </div>
                <ng-template #commentList>
                    <div *ngFor="let comment of comments">
                        <app-comment-list [comment]="comment"></app-comment-list>
                    </div>
                </ng-template>


            </div>

        </div>
    </div>
</div>