<div class="card">
    <div class="title">{{storyItem.title}} </div>

    <div class="point">
        <div>{{storyItem.score}} points by {{storyItem.by}}</div>
        <div class="separator">|</div>
        <!-- <div>id</div> -->
    </div>

    <hr class="divider" />

    <div class="time-comment">
        <div class="flex-start">
            <div class="flex-start">
                <i class="bi bi-clock" style="font-size: 1rem; margin-right: 6px;"></i>
                <div>4 hours ago</div>
            </div>
            <div class="trending-chip">{{storyItem.type}}</div>
        </div>
        <div *ngIf="storyItem.kids" class="comment-chip" (click)="openModal()">
            <i class="bi bi-chat-dots" style="font-size: 1rem; margin-right: 6px;"></i>
            <div *ngIf="storyItem.kids">{{storyItem.kids.length}} comments </div>
            <i class="bi bi-arrow-right" style="font-size: 1rem; margin-left: 6px;"></i>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>