.card {
    width: 496px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px #4F617B14;
    padding: 18px;
    border: 1px solid #FFFFFF;
}

.card:hover {
    border: 1px solid rgba(255, 151, 81, 1);
    box-shadow: 2px 8px 24px 0px #4F617B26;
}

.title {
    font-size: 16px;
    color: #242424;
    /* font-family: 'Inter'; */
    font-weight: 500;
    height: 40px;
}

.separator {
    margin: 0px 13px;
}

.point {
    align-items: center;
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-size: 12px;
    color: #808080;
    margin-top: 8px;
}

.divider {
    background: #D9D9D9;
    height: 1px;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 14px;
}

.time-comment {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    color: #808080;
}

.comment-chip {
    align-items: center;
    display: flex;
    justify-content: start;
    background: #FFEADC;
    border-radius: 6px;
    padding: 0px 10px;
    color: #FF6600;
    font-weight: 600;
    cursor: pointer;
    height: 32px;
}

.trending-chip {
    padding: 2px 10px;
    border-radius: 4px;
    background: #FF8780;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 16px;
}

.icon {
    font-size: 14px;
    margin-right: 6px;

}

.flex-start {
    align-items: center;
    display: flex;
    justify-content: start;
}

.flex-space-between {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.modal {
    background: rgba(79, 97, 123, 0.5);
}

.modal-dialog {
    margin-top: 140px;
}

.modal-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    cursor: pointer;
    color: #242424;
}

.modal-headers {
    padding-left: 30px;
    padding-top: 7px;

}

.modal-contents-container {
    height: 592px;
    padding-bottom: 32px;
}


.news-title {
    font-size: 16px;
    color: #242424;
    padding-right: 30px;
    font-weight: 700;
}

.news-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    margin-top: 8px;
}

.news-detail-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: #8B8B8B;
}

.news-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #242424;
}

.divider-container {
    padding: 0px 30px;
}

.modal-body {
    padding: 0px 30px 30px 30px;
    height: 500px;
    overflow-x: scroll;
}

.list-skeleton {
    background-color: #F4F4F4;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    color: #242424;
    font-size: 14px;
    margin-top: 16px;
    width: 100%;
    height: 86px;
}

.list-skeleton-item {
    width: 100%;
    height: 12px;
    background-color: #eee;
    margin-top: 4px;
}

@keyframes pulse {
    50% {
        opacity: .9;
    }
}