<div class="card">
    <div class="title">Codeberg – Fast Open Source Alternative to GitHub </div>

    <div class="point">
        <div>274 points by oblio</div>
        <div class="separator">|</div>
        <div>codeborg.org</div>
    </div>

    <hr class="divider" />

    <div class="time-comment">
        <div class="flex-start">
            <div class="flex-start">
                <i class="bi bi-clock" style="font-size: 1rem; margin-right: 6px;"></i>
                <div>4 hours ago</div>
            </div>
            <div class="trending-chip">Trending</div>
        </div>
        <div class="comment-chip">
            <i class="bi bi-chat-dots" style="font-size: 1rem; margin-right: 6px;"></i>
            <div> 95 comments</div>
            <i class="bi bi-arrow-right" style="font-size: 1rem; margin-left: 6px;"></i>
        </div>
    </div>

</div>