.card {
    width: 496px;
    /* height: 148px; */
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px #4F617B14;
    padding: 18px;
}

.title {
    font-size: 16px;
    color: #242424;
    /* font-family: 'Inter'; */
    font-weight: 500;
    height: 40px;
}

.separator {
    margin: 0px 13px;
}


.point {
    align-items: center;
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-size: 12px;
    color: #808080;
    margin-top: 8px;
}

.divider {
    border-top: 1px solid #D9D9D9;
    background: #D9D9D9;
    box-shadow: none;
    margin: 10px 0px;

}

.timeComment {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    color: #808080;
}


.flexStart {
    align-items: center;
    display: flex;
    justify-content: start;
}

.flexSpaceBetween {
    align-items: center;
    display: flex;
    justify-content: space-between;
}